@import url('https://fonts.googleapis.com/css?family=Pacifico');
@font-face {
  font-family: 'Le Super Serif';
  src: url('../../assets/Le_Super_Type_SemiBold.ttf') format('truetype');
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #0c0032;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name {
  /*font-family: 'Le Super Serif';*/
  font-family: 'Pacifico';
  font-size: 5em;
  color: #3500d3;
}

.color {
  width: 200px;
  height: 200px;
}

.color-1 {
  background-color: #190061;
}

.color-2 {
  background-color: #240090;
}

.color-3 {
  background-color: #3500d3;
}

.color-4 {
  background-color: #282828;
}

.color-5 {
  background-color: #ffffff;
}
